@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(8, 1fr);
    width: 100vw;
    height: 100vh;
}

#sidebar {
    background-color: #FFA5B0;
    font-size: 16px;

    display: grid;
    grid-row: 1 / 9;
}

img[src$=".svg"] {
    display: block;
    min-width: 24px;
}

img[src$="dashboard.svg"] {
    min-width: 36px;
}

.sidebarHeading {
    font-size: 24px;
    margin: 20px 20px 0px 20px;
    justify-content: start;
}

[class^='sidebar'] {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 20px;
}

.icon-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#header {
    background-color: #F5F5F5;

    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    
}

#headerTop {
    display: grid;
    grid-template-columns: 3fr 1fr;

}

#headerTop > * { /* applied to #search & #headerTopRight */
    /* border: 1px solid black; */
    display: grid; 
    padding: 0px 60px;
    align-items: center;
}

#search {
    grid-template-columns: 1fr 20fr;
}

input[type="search"] {
    border-radius: 5px;
    border: transparent;
    background-color: lightgrey;
    height: 30px;
    width: 700px;
}

#headerTopRight {
    grid-template-columns: repeat(3, 1fr);
}

img[src*="profile pics"] {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#main-content {
    background-color: #E0DEDE;

    display: grid;
    grid-column: 2 / 3;
    grid-row: 3 / 9;
}