@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(8, 1fr);
    width: 100vw;
    height: 100vh;
}

#sidebar {
    background-color: #FFA5B0;
    font-size: 16px;

    display: grid;
    grid-row: 1 / 9;
}

img[src$=".svg"] {
    display: block;
    min-width: 24px;
}

img[src$="dashboard.svg"] {
    min-width: 36px;
}

.sidebarHeading {
    font-size: 24px;
    margin: 20px 20px 0px 20px;
    justify-content: start;
}

[class^='sidebar'] {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 20px;
}

.icon-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#header {
    background-color: #F5F5F5;
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

#headerTop {
    display: grid;
    grid-template-columns: 3fr 1fr;

}

#headerTop>* {
    /* applied to #search & #headerTopRight */
    /* border: 1px solid black; */
    display: grid;
    padding: 0px 2vw;

}

#search {
    grid-template-columns: 1fr 20fr;
    align-items: center;
}

input[type="search"] {
    border-radius: 5px;
    border: transparent;
    background-color: lightgrey;
    height: 30px;
    max-width: 400px;
}

#headerTopRight {
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

img[src*="profile pics"] {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#headerBottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 2vw;
}

#headerGreeting {
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

#headerGreeting img {
    height: 64px;
    width: 64px;
}

#headerButtons {
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-content: end;
    gap: 20px;
}

#headerButtons>* {
    font-size: 14px;
    background-color: #FFA5B0;
    border-radius: 14px;
    border: transparent;

    min-width: 110px;
    min-height: 40px;
}

#main-content {
    background-color: #E0DEDE;

    display: grid;
    grid-column: 2 / 3;
    grid-row: 3 / 9;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 30px;
    gap: 30px;
}

#projectContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    margin-top: 10px;
}

.project {
    background-color: #F5F5F5;
    border-radius: 8px;
    border-left: 8px solid #6A197D;

    display: grid;
    min-width: 200px;
    min-height: 140px;
    padding: 20px;
}

.projectButtons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
}

#mainRight {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}


#announcementContainer {
    background-color: #F5F5F5;
    
    margin-top: 10px;
    padding: 7px 20px;
    border-radius: 8px;
    display: grid;
}

.announcement {
    font-size: 14px;

    padding: 6px 0px;
    display: grid;
}

#announcementContainer div:nth-child(2) {
    border-top: 1px solid #6A197D;
    border-bottom: 1px solid #6A197D;
    padding: 6px 0px;
}

#trending {
    display: grid;
}

#trendingContainer {
    background-color: #F5F5F5;
    border-radius: 8px;

    display: grid;
    gap: 10px;
    padding: 20px 0px 10px 34px;

}

.trendingProfile {
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
    justify-content: start;

}